/* ==========================================================================
    Helper classes
   ========================================================================== */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
    Author's custom styles
   ========================================================================== */
html,
body {
  height: 100%;
}

html {
  font-size: 1.3em;
  line-height: 1.4;
}

body {
  background-color: #04111a;
  background-image: url(/world-clock/images/lena-bell-68534-unsplash.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  color: #fae6c1;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Cinzel Decorative', serif;
}

h1 {
  color: rgb(91, 157, 213);
  filter: drop-shadow(0 0 3px black);
  font-size: 6em;
  font-weight: bold;
}

main {
  flex: 1 0 auto;
}

header,
footer {
  justify-content: center;
  text-align: center;
}

footer {
  flex-shrink: 0;
}

a {
  color: #fae6c1;
}

a:hover {
  color: #f5be61;
}

#clocks {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 25px;
  display: flex;
  filter: drop-shadow(0 0 5px black);
  flex-wrap: wrap;
  justify-content: center;
  margin: auto 20px;
}

.clock {
  display: inline-block;
  margin: 5px 5px 30px 5px;
  max-width: 200px;
  text-align: center;
  filter: drop-shadow(0 0 5px black);
  flex-grow: 1;
  padding: 20px 0;
}

.clockRegion {
  font-size: 1.1em;
}

.clockRegion,
.clockTime,
.clockDate {
  display: block;
}

.credit {
  flex: 1 0 auto;
}

@media screen and (max-width: 1199px) {
  html {
    font-size: 1em;
    line-height: 1.4;
  }

  h1 {
    font-size: 5em;
  }
}

@media screen and (max-width: 767px) {

  html,
  body {
    height: auto;
  }

  h1 {
    font-size: 4em;
  }

  .clock {
    margin: 5px;
  }
}

@media screen and (max-width: 479px) {
  #clocks {
    border-radius: 0;
    margin: 0;
  }
}